<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> SQUEEZE 2.0 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <img
    src="https://cdn.discordapp.com/attachments/886976260784390154/887981873022783519/1557717321410-59953567_2352755544760785_3750530962316853248_n.jpg"
    alt="roo-jai-spa-web-image"
    class="w-100"
  />

  <div *ngFor="let cat of items" class="category-block">
    <ion-row no-padding class="category-banner">
      <ion-col
        text-left
        button
        tappable
        (click)="cat.expanded = !cat.expanded"
        align-self-center
      >
        {{ cat.category }}
      </ion-col>
      <div
        class="button_footer"
        button
        tappable
        (click)="cat.expanded = !cat.expanded"
      >
        <img src="https://img.icons8.com/dusk/30/000000/plus.png" />
      </div>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="font_size">
                {{ product.jumbo }} <br />
                {{ product.name }} <br />
                {{ product.price }} บาท
              </ion-card-title>
              <ion-card-content>
                <img src="{{ product.img }}" />
                <ion-button expand="full" (click)="addToCart(product)"
                  >เพิ่มตะกร้า</ion-button
                >
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div align="center">
    <ion-button
      (click)="openCart()"
      color="primary"
      style="width: 250px; margin-top: 40px"
      >คิดตัง</ion-button
    >
  </div>
</ion-content>
